<h1>Create Post</h1>
{{!-- enctype="multipart/form-data" --}}
<form action="/admin/posts/create" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input name="title" type="text" class="form-control" id="title" placeholder="Enter title">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select name="category" class="form-control" id="category">
            {{#each categories}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>    
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <select name="status" class="form-control" id="status">
            <option value="public">Public</option>
            <option value="private">Private</option>
            <option value="draft">Draft</option>
        </select>    
    </div>
    <div class="form-check">
        <div class="checkbox">
            <label for="allowComments">
            <input name="allowComments" type="checkbox" id="allowComments" class="form-check-input">Allow Comments</label>
        </div>
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea name="body" cols="30" rows="10" class="form-control" id="body" placeholder="Enter description"></textarea>
    </div>
    <div class="form-group">
        <label for="file">File Upload</label>
        <input name="file" class="form-control" type="file">
    </div>
    <button type="submit" class="btn btn-primary">Create Post</button>
</form>