<ul class="sidebar navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/admin">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      <i class="fas fa-fw fa-folder"></i>
      <span>Pages</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">Posts:</h6>
      <a class="dropdown-item" href="/admin/posts">All Posts</a>
      <a class="dropdown-item" href="/admin/posts/create">Create Post</a>
      <a class="dropdown-item" href="/admin/posts/my-posts">My Posts</a>
      <h6 class="dropdown-header">Login Screens:</h6>
      <a class="dropdown-item" href="login.html">Login</a>
      <a class="dropdown-item" href="register.html">Register</a>
      <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
      <div class="dropdown-divider"></div>
    </div>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="link">
    <a class="nav-link" href="/admin/categories">
      <i class="fa fa-fw fa-link"></i>
      <span class="nav-link-text">Categories</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="link">
    <a class="nav-link" href="/admin/comments">
      <i class="fa fa-comments" aria-hidden="true"></i>
      <span class="nav-link-text">Comments</span>
    </a>
  </li>
</ul>